@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  ---primaryColor: #ff6464;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-Poppins_display);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 250ms;
}

.navLinks:hover {
  color: var(---primaryColor);
  transform: scale(1.1);
}
.primaryTextColor {
  color: #ff6464;
}
.serviceCardBorder{
  border:none;
  border-left: 4px solid #ff6464;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
